.map-container {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 60px); /* Adjust based on header height */
}

.map-view {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 10;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.1);
}
